/* Transporter labels */

.transp-label {
  display: inline-flex;
  line-height: 2.5em;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: -0.25em 0;
  cursor: inherit !important;
  white-space: nowrap;
  max-width: 100%;
  text-decoration: none;
  padding-left: 1.25em;
  padding-right: 1.25em;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.transp-label {
  text-transform: uppercase;
}

.transp-label.undefined {
  color: #776261;
  background-color: #e5e5e5;
}

.transp-label.king-drive {
  color: #282525;
  background-color: #be9d68;
}

.transp-label.cargomatic {
  color: white;
  background-color: #014617;
}

.transp-label.fragner {
  color: #420c0a;
  background-color: #dc5f51;
}

.transp-label.king {
  color: #282525;
  background-color: #a98851;
}

.transp-label.kuehne {
  color: #b7beec;
  background-color: #1a2461;
}

.transp-label.geotextile {
  color: #f9f9ed;
  background-color: #8a6e2c;
}

.transp-label.tred {
  color: #e1e2e3;
  background-color: #4b4a4d;
}

/* Order statuses */

.order-status.status-completed:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.order-status.status-completed:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.order-status.status-completed:first-child > span {
  margin-right: 2px;
}

.order-status.status-completed:last-child > span {
  margin-left: 2px;
}

.order-status.status-completed:only-child {
  border-radius: 4px !important;
}

.order-status.status-completed {
  color: #3c6c2b !important;
  background-color: #cfdfca !important;
}

.order-status.status-on-hold {
  color: #776261 !important;
  background-color: #e5e5e5 !important;
}

.order-status.status-sav {
  color: #420c0a !important;
  background-color: #dc5f51 !important;
}

.order-status.status-scheduled {
  color: #89591e !important;
  background-color: #f0deb3 !important;
}

/* Product list */

.wp-admin td.product_tag.column-product_tag,
.wp-admin th#product_tag {
  width: 5% !important;
}

.wp-admin td.product_cat.column-product_cat,
.wp-admin th#product_cat {
  width: 7% !important;
}

.fixed td.stats.column-stats,
th#stats {
  width: 3% !important;
}

td.date.column-date,
th#date {
  width: 7% !important;
}

.woocommerce-admin-page td.name.column-name.has-row-actions.column-primary,
.woocommerce-admin-page table.wp-list-table .column-name {
  width: 17% !important;
}

#datepicker-container .ui-datepicker {
  width: 680px !important;
}

#datepicker-container .ui-state-active,
#datepicker-container .ui-widget-content .ui-state-active,
#datepicker-container .ui-widget-header .ui-state-active,
#datepicker-container .ui-state-highlight,
#datepicker-container.ui-widget-content .ui-state-highlight,
#datepicker-container .ui-widget-header .ui-state-highlight {
  background: #ffc880 !important;
}

#datepicker-container .ui-state-default,
#datepicker-container .ui-widget-content .ui-state-default,
#datepicker-container .ui-widget-header .ui-state-default {
  background: transparent !important;
}

#day-picker-container input {
  margin-left: 15px;
}

#km-shipping-delay-wrapper {
  width: 100%;
  margin-left: 170px;
  top: -100px;
  position: relative;
}

.km-success-message {
  color: #3c6c2b;
}

.km-error-message {
  color: #d72f1c;
}

/* Style de base du loader - vous pouvez personnaliser ceci */
#km-shipping-delay-wrapper .km-loader {
  display: none;
}

#km-shipping-delay-wrapper .km-loader.active {
  display: flex;
}

.km-shipping-delay-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.km-note-preview {
  float: right;
}

.km-user-note-modal {
  min-width: 400px;
}

.wc-shipping-zone-method-fields textarea {
  height: 80px;
  width: 100%;
}

.transporter_column {
  position: relative;
}

.transporter-list {
  position: absolute;
  top: 31px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style-type: none;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
}

.transporter_column {
  position: relative;
}

.transporter-item {
  padding: 5px 10px;
  cursor: pointer;
}

.transporter-item:hover {
  background-color: #f0f0f0;
}

.km-variation-custom-fields .options_group,
#woocommerce-product-data
  .wc-metaboxes-wrapper
  .km-variation-custom-fields
  .wc-radios {
  display: flex;
  gap: 0 0.5rem;
  flex-wrap: wrap;
}

#woocommerce-product-data
  .wc-metaboxes-wrapper
  .km-variation-custom-fields
  .wc-radios {
  margin-bottom: 0;
  padding: 0;
}

.km-variation-custom-fields .options_group {
  margin-bottom: 10px;
}

.km-variation-custom-fields p.form-field,
.km-variation-custom-fields .wc-radios li {
  margin: 0;
}

.km-variation-custom-fields label {
  margin-left: 0.3rem;
}

.km-variation-custom-fields legend {
  font-weight: 500 !important;
  margin-bottom: 7px;
}

form-field.info {
  margin-top: 0;
  margin-bottom: 7px;
  font-style: italic;
}
/* Transporter labels */

.transp-label {
  display: inline-flex;
  line-height: 2.5em;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: -0.25em 0;
  cursor: inherit !important;
  white-space: nowrap;
  max-width: 100%;
  text-decoration: none;
  padding-left: 1.25em;
  padding-right: 1.25em;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.transp-label {
  text-transform: uppercase;
}

.transp-label.undefined {
  color: #776261;
  background-color: #e5e5e5;
}

.transp-label.king-drive {
  color: #282525;
  background-color: #be9d68;
}

.transp-label.cargomatic {
  color: white;
  background-color: #014617;
}

.transp-label.fragner {
  color: #420c0a;
  background-color: #dc5f51;
}

.transp-label.king {
  color: #282525;
  background-color: #a98851;
}

.transp-label.kuehne {
  color: #b7beec;
  background-color: #1a2461;
}

.transp-label.geotextile {
  color: #f9f9ed;
  background-color: #8a6e2c;
}

.transp-label.tred {
  color: #e1e2e3;
  background-color: #4b4a4d;
}

/* Order statuses */

.order-status.status-completed:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.order-status.status-completed:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.order-status.status-completed:first-child > span {
  margin-right: 2px;
}

.order-status.status-completed:last-child > span {
  margin-left: 2px;
}

.order-status.status-completed:only-child {
  border-radius: 4px !important;
}

.order-status.status-completed {
  color: #3c6c2b !important;
  background-color: #cfdfca !important;
}

.order-status.status-on-hold {
  color: #776261 !important;
  background-color: #e5e5e5 !important;
}

.order-status.status-sav {
  color: #420c0a !important;
  background-color: #dc5f51 !important;
}

.order-status.status-scheduled {
  color: #89591e !important;
  background-color: #f0deb3 !important;
}

/* Product list */

.wp-admin td.product_tag.column-product_tag,
.wp-admin th#product_tag {
  width: 5% !important;
}

.wp-admin td.product_cat.column-product_cat,
.wp-admin th#product_cat {
  width: 7% !important;
}

.fixed td.stats.column-stats,
th#stats {
  width: 3% !important;
}

td.date.column-date,
th#date {
  width: 7% !important;
}

.woocommerce-admin-page td.name.column-name.has-row-actions.column-primary,
.woocommerce-admin-page table.wp-list-table .column-name {
  width: 17% !important;
}

#datepicker-container .ui-datepicker {
  width: 680px !important;
}

#datepicker-container .ui-state-active,
#datepicker-container .ui-widget-content .ui-state-active,
#datepicker-container .ui-widget-header .ui-state-active,
#datepicker-container .ui-state-highlight,
#datepicker-container.ui-widget-content .ui-state-highlight,
#datepicker-container .ui-widget-header .ui-state-highlight {
  background: #ffc880 !important;
}

#datepicker-container .ui-state-default,
#datepicker-container .ui-widget-content .ui-state-default,
#datepicker-container .ui-widget-header .ui-state-default {
  background: transparent !important;
}

#day-picker-container input {
  margin-left: 15px;
}

#km-shipping-delay-wrapper {
  width: 100%;
  margin-left: 170px;
  top: -100px;
  position: relative;
}

.km-success-message {
  color: #3c6c2b;
}

.km-error-message {
  color: #d72f1c;
}

/* Style de base du loader - vous pouvez personnaliser ceci */
#km-shipping-delay-wrapper .km-loader {
  display: none;
}

#km-shipping-delay-wrapper .km-loader.active {
  display: flex;
}

.km-shipping-delay-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.km-note-preview {
  float: right;
}

.km-user-note-modal {
  min-width: 400px;
}

.wc-shipping-zone-method-fields textarea {
  height: 80px;
  width: 100%;
}

.transporter_column {
  position: relative;
}

.transporter-list {
  position: absolute;
  top: 31px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style-type: none;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
}

.transporter_column {
  position: relative;
}

.transporter-item {
  padding: 5px 10px;
  cursor: pointer;
}

.transporter-item:hover {
  background-color: #f0f0f0;
}

.km-variation-custom-fields .options_group,
#woocommerce-product-data
  .wc-metaboxes-wrapper
  .km-variation-custom-fields
  .wc-radios {
  display: flex;
  gap: 0 0.5rem;
  flex-wrap: wrap;
}

#woocommerce-product-data
  .wc-metaboxes-wrapper
  .km-variation-custom-fields
  .wc-radios {
  margin-bottom: 0;
  padding: 0;
}

.km-variation-custom-fields .options_group {
  margin-bottom: 10px;
}

.km-variation-custom-fields p.form-field,
.km-variation-custom-fields .wc-radios li {
  margin: 0;
}

.km-variation-custom-fields label {
  margin-left: 0.3rem;
}

.km-variation-custom-fields legend {
  font-weight: 500 !important;
  margin-bottom: 7px;
}

form-field.info {
  margin-top: 0;
  margin-bottom: 7px;
  font-style: italic;
}

.km-variation-custom-fields .form-field {
  margin-bottom: 10px;
}
