.modal-postcode p {
    font-family: 'Arca Majora 3';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.header_postcode > p {
    font-family: 'Lato';
    font-style: italic;
    color: #fff;
    margin-bottom: 0;
}

.header_postcode>p>span {
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
}

.modal-postcode .km-form-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-postcode input,
.modal-postcode select {
    max-width: 150px;
    margin-bottom: 9px;
}

@media only screen and (max-width: 767px) {
    .modal-postcode {
        width: 100%;
    }
}

.modal_pc_close_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 20px;
    width: 20px;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn-confirm {
    position: relative;
    width: 180px;
}

.btn-confirm-loader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.zip_code_label {
    text-align: center;
    color: red;
    margin-bottom:0;
}